.chart-bar {
  align-items: center;
  padding: 10% 1%;
}
.chart-bar__inner {
  /* color */
  background-color: rgb(205, 151, 255);

  /* Display & box-model */
  height: 100px;
  width: 40%;
  margin: 0 auto;
  border-radius: 5px;

  /* Position */
  position: relative;
  align-items: center;
}
.chart-bar__fill {
  /* color */
  background-color: rgb(205, 151, 255);

  /* Display & box-model */
  width: 100%;
  height: 100%;
  border-radius: 5px;

  /* Position */
  position: absolute;
  bottom: 0px;
}
.chart-bar__col {
  /* Color */
  background-color: blueviolet;

  /* Display & box-model */
  width: 100%;
  height: 100%;
  border-radius: 5px;

  /* Position */
  position: absolute;
  bottom: 0px;
  
  /* Animation */
  animation: increase-column 2s;
}
.chart-bar__label {
  text-align: center;
}
@keyframes increase-column {
  0% {
    top: 100%;
    height: 0px;
  }
  100% {
    top: 0%;
    height: 100%;
  }
}
