.chart{
    /* Color */
    background-color: rgb(225, 193, 255);

    /* Display & Box-model*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 2%;
    border-radius: 10px;
    align-items:center ;
}